body {
    background-image: url(images/asfalt-dark.png);
    background-repeat: repeat;
}

body,
h1,
h3,
p,
{
    font-family: helvetica, Arial, Helvetica, sans-serif;
}

.container {
    text-align: center;
    padding-top: 50px;
}

hr {
    width: 800px;
    border-bottom: 1px solid black;
}

.quote-box {
    border: 1px dashed black;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
}

.list-inline {
    display: inline-block;
}